/* CSS Reset & Document Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html,
body {
  display: grid;
  place-content: center;
  font-size: 16px;
  background-color: #c5e4e7;
}

/* Shared Styling */

html,
.tip-option,
.input,
.reset-btn {
    font-family: "Space Mono", monospace;
    border: none;
}

header,
.calc-input,
.price-box{
    display: flex;
    align-items: center;
}

.num-input{
  color:#00494d;
  background-color: #f4fafa;
}

/* Styles */

header {
  justify-content: center;
}

.logo {
    margin: 50px
}

.main-container{
  background-color: white;
  display: grid;
  grid-template: repeat(2, 0.5fr) / 1fr;
  justify-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  min-width: 375px;
}

.titles{
  font-weight: 700;
  font-size: 16px;
  color: #5e7a7d;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 7.5px;
}

.input{
  padding-right: 20px;  
  width: 250px;
  background-color: transparent;
  text-align: right;
  font-size: 24px;
  outline: none;
}

.input-img {
  margin-left: 20px;
}

.calc-input {
  justify-content: space-between;
  min-width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: #f4fafa;
  margin: 0 7.5px 35px 7.5px;
}

.tip-grid{
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, auto);
  margin-bottom: 20px;
}

.tip-option {
  margin: 7.5px;
  height: 45px;
  width: 140px;
  border-radius: 8px;
  font-size: 22px;
}

.percent{
  color: white;
  background-color: #00494d;
}

.custom{
    text-align: center;
}

.custom:focus{
  outline: none;
}

.number-of-people{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.cant-be-zero{
  font-size: 12px;
  display: none;
}

.show-cbz{
  display:block;
  color: rgb(194, 78, 16);
}

.border-cbz{
  border: 1px solid rgb(194, 78, 16);
}

.results{
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color:#00494d;
  border-radius: 12px;
  width: 95%;
  padding: 20px;
  margin-bottom:30px;
  height: 250px;
}

.price-box{   
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.res-title{
  color: white;
  font-size: 14px;
  padding: 0;
  margin: 20px 0 0 0;
}

.per-person {
  color:#7f9c9f;
  font-size: 12px;
}

.price{
    font-size: 28px;
    color:#26c0ab;
    margin: 10px 0 0 0;
}

.reset-btn{
    margin: 35px 10px;
    padding: 15px;
    background-color: #26c0ab;
    color:#00494d;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

.input:hover,
.reset-btn:hover,
.tip-option:hover{
  cursor:pointer
}

.tip-option:hover,
.reset-btn:hover{
  transform: scale(1.025);
}

.pressed{
  background-color: #9fe8df;
  color:#015e63;
  transform: scale(0.925);
}

.input-selected{
  border: 2px solid #50a595;
}

.percent:hover{
  filter: brightness(92.5%);
}

.reset-btn:hover{
  background-color: #9fe8df;
}

.reset-btn:disabled{
  opacity: 0.5;
}

@media (min-width: 576px){
  .main-container{
    min-width: 576px;
  }

  .number-of-people{
    width: 455px;
  }
  .tip-grid{
    grid-template: repeat(2, auto) / repeat(3, auto);
  }
}

@media (min-width: 1200px){

  .logo{
    margin: 75px 0 50px 0;
  }
  .main-container{
    grid-template: 1fr / 0.5fr 0.5fr;
    border-radius: 20px;
    padding: 35px; 
    align-items:stretch;
  }

  .people-border{
    margin-bottom: none;
  }

  .number-of-people{
    width: 395px;
  }

  .titles{
    margin-top: 10px;
  }

  .tip-option{
    width: 120px;
    height: 50px;
  }

  .results{
    width: 410px;
    height: 410px;
    margin: 0;
    padding: 30px;
  }

  .cant-be-zero{
    font-size: 12px;
  }

  .results > div{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .calculator{
    width: 410px;
    height: 380px;
    margin-right: 40px;
  }

  .price{
    font-size: 44px;
  }

  .res-title {
    font-size: 16px;
  }

  .per-person{
    font-size: 14px;
  }

  .reset-btn{
    margin: auto 15px 15px 15px;
    font-size: 18px;
  }
}